{% extends 'base.html' %}
{% block title %}Edit Post{% endblock %}
{% block content %}
<h1>Edit Post</h1>
<form action="/users/{{user.id}}/post/{{post.id}}/edit" method="POST">
    <label for="title">Title: </label>
    <input type="text" name="title" id="title" placeholder="{{post.title}}">
    <label for="last_name">Content: </label>
    <input type="text" name="content" id="content" placeholder="{{post.content}}">
    <h2>Select Tags</h2>
    {% for tag in tags %}
    <label for="tags">
        {{tag.name}}<input type="checkbox" value={{tag.id}} name="tags">
    </label>
    {% endfor %}
    <button>Save</button>
</form>
<form action="/users/{{user.id}}">
    <button>Cancel</button>
</form>
{% endblock %}